:root {
    --height-header: 70px;
    --height-main: calc(100dvh - var(--height-header));

    --color-fondo: #dff800;
    
    --color-fondo-img: #000;
    --color-sombra-img: #fff;

    --color-fondo-h2: #000;
    --color-sombra-h2: #fff;

    --color-fondo-h3: #000;
    --color-sombra-h3: #fff;

    --color-cosa-carga: #fff;

    --color-texto: #000;
    --color-texto-h2-h3: #fff;

    --color-boton: #fff;
    --color-boton-borde: #000;
    --color-sombra-boton: #000;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Zalando Sans Expanded", sans-serif;
    color: var(--color-texto);
}

body {
    padding: 0 15px;
    background-color: var(--color-fondo);
}

header{
    height: var(--height-header);

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

main {
    height: var(--height-main);

    display: flex;
    justify-content: center;
    align-items: center;
}

#random {
    padding: 10px 10px;
    font-weight: bolder;
    
    border: 2px solid #000;
    border-radius: 0;

    box-shadow: 3px 3px 0 var(--color-sombra-boton);
    
    cursor: pointer;

    transition: transform .4s, box-shadow .4s;
    &:active{
        transform: translate(3px, 3px);
        box-shadow: 0 0 0 var(--color-sombra-boton);
    }
}

#cartaPersonaje {
    min-width: 200px;
    width: 500px;
    aspect-ratio: 1/1;

    border-radius: 10px;

    background-color: var(--color-fondo-img);
    box-shadow: 10px 10px 0 var(--color-sombra-img);

    position: relative;

    & img {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;

        border-radius: inherit;
    }

    & h2, h3 {
        padding: 3px 5px;
        color: var(--color-texto-h2-h3);

        opacity: 0;
        transition: opacity .3s cubic-bezier(0.39,-0.48, 0.58, 1);
    }

    &:hover h2, &:hover h3 {
        opacity: 1;
    }

    & h2 {
        position: absolute;
        left: 50%;
        bottom: 4rem;
        transform: translateX(-50%);

        max-width: 80%;
        text-align: center;

        background-color: var(--color-fondo-h2);
        box-shadow: 10px 10px 0 var(--color-sombra-h2);
    }

    & h3 {
        position: absolute;
        left: 50%;
        bottom: 1.8rem;
        transform: translateX(-50%);

        background-color: var(--color-fondo-h3);
        box-shadow: 10px 10px 0 var(--color-sombra-h3);
    }

    & .loader {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        
        width: 100%;
        height: 100%;
        border-radius: inherit;

        display: flex;
        justify-content: center;
        align-items: center;
        & .circle {
            width: 10%;
            aspect-ratio: 1/1;

            border: 4px solid var(--color-cosa-carga);
            border-bottom-color: transparent;
            border-radius: 50%;

            animation: vuelta-y-vuelta 1s linear infinite;
        }
    }
}

.hide {
    display: none;
}

@keyframes vuelta-y-vuelta {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media (width <= 400px) {
    :root {
        font-size: 13px;
    }

    header{
        height: var(--height-header);

        display: flex;
        flex-direction: column;

        gap: 1rem;
    }

    #random {
        font-size: 2rem;
        box-shadow: 4px 4px 0 var(--color-sombra-boton);
    }
    
    #cartaPersonaje {
        box-shadow: 6px 6px 0 var(--color-sombra-img);
    }
}